{
    "extends" : "airbnb-base",
    "env":{
        "node" : true
    },
    "rules":{
        "import/extensions" : ["error" , "always" , {"ignorePackages" : true }],
        "no-console": "off",
        "react/props-types" : "off"
    }
}